.theme-btn {
  padding: 8px 14px;
  border-radius: 999px;
  border: none;
  background: var(--card-bg);
  size: 15px;
  color: var(--text-color);
  cursor: pointer;
  font-weight: 700;
  transition: background 0.3s, transform 0.2s;
  display: flexbox;
}

/* .theme-btn:hover {
  transform: scale(1.05);
} */